body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
}
nav,
section {
  background-color: #f8f9fa;
  color: #000000;
}

.card,
section {
  border-color: #dee2e6;
}
.card {
  background-color: #fff;
  color: #000000;
}
